<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.annapurnaseva">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="AnnapurnaSeva"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Common Login Activity is set as the launcher -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Restaurant donation posting activity -->
        <activity android:name=".DonateActivity" />

        <!-- Signup Activities -->
        <activity android:name=".RestaurantSignupActivity" />
        <activity android:name=".NGOSignupActivity" />

        <!-- Dashboard Activities -->
        <activity android:name=".RestaurantActivity" />
        <activity android:name=".NGOActivity" />

        <!-- NGO Request Donation Activity -->
        <activity android:name=".RequestDonationActivity" />

        <!-- Donations List Activity -->
        <activity android:name=".DonationsListActivity" />
        <activity android:name=".DonationRequestsActivity" />

    </application>
</manifest>